<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button class="logo-btn" routerLink="/">
      <img src="assets/images/salud_total.png" alt="Logo Salud Total" class="logo" />
    </button>

    <span class="spacer"></span>

    <nav class="menu-top">
      <ul class="menu">
        <li>
          <button mat-raised-button color="accent" class="header-btn" routerLink="/reservar-cita">
            Reservar cita
          </button>
        </li>
        <li>
          <button mat-raised-button color="accent" class="header-btn" routerLink="/consultar-cita">
            Consultar cita
          </button>
        </li>
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>