<div class="login-container">
  <div class="login-box">

    <!-- Mostrar mensaje si el usuario ya está logueado -->
    <div *ngIf="loggedInUser; else loginForm" class="logged-in-message">
      <img src="assets/images/salud_total.png" alt="Logo" class="login-logo" />
      <h2 class="text-center">¡Hola!</h2>
      <p class="text-center">
        Has iniciado sesión con el usuario <strong>{{ loggedInUser }}</strong>.
      </p>
      <p class="text-center">
        ¿Estás seguro de que deseas cerrar la sesión?
      </p>
      <div class="text-center">
        <button mat-raised-button color="warn" class="login-button" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>

    <!-- Formulario de login -->
    <ng-template #loginForm>
      <img src="assets/images/salud_total.png" alt="Logo" class="login-logo" />
      <h2 class="text-center">Bienvenido</h2>

      <mat-form-field appearance="outline" class="login-input">
        <mat-label>Correo</mat-label>
        <input matInput type="email" [(ngModel)]="email" placeholder="Ingresa tu correo" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-input">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="password" placeholder="Ingresa tu contraseña" />
      </mat-form-field>

      <div class="text-center">
        <button mat-raised-button color="primary" class="login-button" (click)="login()">Iniciar Sesión</button>
      </div>
    </ng-template>

  </div>
</div>