<div class="home-container">
  <div class="home-header">
    <img src="assets/images/salud_total.png" alt="Logo Salud Total" class="home-logo" />
    <h1>Bienvenido a Salud Total</h1>
    <p class="home-desc">
      Tu portal de atención médica. Agenda, consulta y gestiona tus citas de manera fácil y rápida.
    </p>
  </div>

  <div class="home-actions">
    <a routerLink="/reservar-cita" class="home-action-card reservar">
      <span class="material-icons">event_available</span>
      <div>
        <h3>Reservar Cita</h3>
        <p>Agenda una nueva consulta médica.</p>
      </div>
    </a>
    <a routerLink="/consultar-cita" class="home-action-card consultar">
      <span class="material-icons">search</span>
      <div>
        <h3>Consultar Cita</h3>
        <p>Revisa el estado de tus reservas.</p>
      </div>
    </a>
    <a routerLink="/login" class="home-action-card confirmar">
      <span class="material-icons">medical_services</span>
      <div>
        <h3>Portal médicos</h3>
        <p>Acceso exclusivo para profesionales de la salud.</p>
      </div>
    </a>
  </div>
</div>